/* * {
   color: red;
} */


fieldset {
    margin: 0 100px 0 100px;
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    background-color: #11151C;
    align-content: center;
    border: 1px solid;
    border-radius: 20px;
    border-style: 20px groove;
    border-color: red navy magenta purple;
}

.container {
    background-color: #0e0c0c;
    max-width: 500px;
    height: auto;
    margin: auto;
    margin-top: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid;
    border-radius: 20px;
    border-style: 20px groove;
    border-color: red navy magenta purple;
    animation:glow 2s ease-in-out infinite; 
    color: linear-gradient(45deg, navy, purple, red, yellow, hotpink, green, brown, cyan, magenta );
    z-index: -1;
}

@keyframes glow {
50% {
    border-color: red;
}

25% {
    border-color: navy;
}

50% {
    border-color: magenta;
}

75% {
    border-color: purple;
}

100% {
    border-color: red;
}

}

legend {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    

.header1, #subtext, .header6 {
    color: white;
    text-align: center;

}
    
.btn {
    /* Set a style for the submit button */
    background-color: dodgerblue;
    color: white;
    padding: 10px 50px 10px 50px;
    border: none;
    cursor: pointer;
    width: 35%;
    border-radius: 5px 0 5px 0;
    margin: 5px 0 5px 170px;

}
label {
    color:white;
}

.dipkick {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0 25px 25px;
    font-size: 18px;
    margin: 0 0 150px 0;
    color:white;
    border: 20px;
    font-weight: bold;
    background-color: rgb(22, 22, 43);
}

/* .foothead {
    border-top: 3px solid gold;
    max-width: 1000px;
    margin: 100px 650px 5px 650px;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
} */

/* Style all input fields */
input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the container for inputs */
  .container {
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
